{% extends 'base/master.html' %}

 {% block 'sidebar' %}
  {% include 'components/sidebar.html' %}
 {% endblock %}

 {% block 'navbar' %}
  {% include 'components/navbar.html' %}
 {% endblock %}

 {% block 'footer' %}

 {% endblock %}

{% block 'body' %}
{% include 'components/message.html' %}
  <h3>All Income</h3>
  <table class="table">
   <thead>
     <th>Title</th>
     <th>Amount</th>
     <th>date</th>
     <th>Category</th>
   <th>Action</th>
   </thead>
   {% for a in all %}
    <tr>
     <td>{{a.title}}</td>
     <td>{{a.amount}}</td>
     <td>{{a.date}}</td>
        <td>{{a.category}}</td>
     <td><a href="{% url 'delete_income' a.slug %}"><i class="fa fa-trash"></i> </a> | <a href="{% url 'edit_income' a.slug %}"><i class="fa fa-edit"></i> </a> </td>
    </tr>
   {% endfor %}
  </table>


{% endblock %}